# Copyright Contributors to the L3AF Project.
# SPDX-License-Identifier: Apache-2.0
#
# For documentation on the github environment, see
# https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners
#
# For documentation on the syntax of this file, see
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
name: CI Windows build
on:
  pull_request: {}
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Setup Go 1.21.3
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32
        with:
          go-version: '1.21.3'

      - name: Harden Runner
        uses: step-security/harden-runner@0d381219ddf674d61a7572ddd19d7941e271515c 
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Set up git env
        run: |
          git config --global core.autocrlf false
          $gopath = (go env GOPATH)
          echo "GOPATH=$gopath" >> $env:GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 

      - name: Format
        run: |
          go install golang.org/x/tools/cmd/goimports@latest
          $goimp = (Join-path -Path (go env GOPATH) -ChildPath "\bin\goimports")
          $res = (&$goimp -l .) -replace "$_"      
          if ($res -ne "") {
            echo "Unformatted source code:" 
            echo $res
            exit 1
          }

      - name: Vet
        run: |
          go vet -tags WINDOWS ./...

      - name: Test
        run: |
          go test -tags WINDOWS ./...

      - uses: dominikh/staticcheck-action@fe1dd0c3658873b46f8c9bb3291096a617310ca6 
        with:
          version: "2023.1.1"
          install-go: false
          cache-key: "1.21.x"
          build-tags: WINDOWS

      - name: Build
        env:
          GOPATH: ${{env.GOPATH}}
        run: |
          cmake -B build
          cmake --build build
