# Copyright Contributors to the L3AF Project.
# SPDX-License-Identifier: Apache-2.0
#
# For documentation on the github environment, see
# https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners
#
# For documentation on the syntax of this file, see
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
name: CI Windows build
on:
  pull_request: {}
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest
    
    steps:
      - name: Setup Go 1.18.6
        uses: actions/setup-go@c4a742cab115ed795e34d4513e2cf7d472deb55f
        with:
          go-version: '1.18.6'

      - name: Harden Runner
        uses: step-security/harden-runner@ebacdc22ef6c2cfb85ee5ded8f2e640f4c776dd5
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Set up git env
        run: |
          git config --global core.autocrlf false
          $gopath = (go env GOPATH)
          echo "GOPATH=$gopath" >> $env:GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@1f9a0c22da41e6ebfa534300ef656657ea2c6707
      
      - name: Format
        run: |
          go install golang.org/x/tools/cmd/goimports@latest
          $goimp = (Join-path -Path (go env GOPATH) -ChildPath "\bin\goimports")
          $res = (&$goimp -l .) -replace "$_"      
          if ($res -ne "") {
            echo "Unformatted source code:" 
            echo $res
            exit 1
          }

      - name: Vet
        run: |
          go vet -tags WINDOWS ./...
      
      - name: Test
        run: |
          go test -tags WINDOWS ./...

      - uses: dominikh/staticcheck-action@4ec9a0dff54be2642bc76581598ba433fd8d4967
        with:
          version: "2022.1.1"
          install-go: false
          build-tags: WINDOWS

      - name: Build
        env:
          GOPATH: ${{env.GOPATH}}
        run: |
          cmake -B build
          cmake --build build
